%article.video
  .container
    .row
      .video_large_cover.col-sm-7.col-sm-offset-1
        = image_tag @video.large_cover
      .video_info.col-sm-3
        %header
          %h3= @video.title
          %span= @video.proper_rating
        %p= @video.description
        .actions
          - if @video.video_url
            = link_to 'Watch Now', @video.video_url, class: 'btn btn-primary'
          - else
            = link_to 'Watch Now', '#', class: 'btn btn-warning'
          = link_to 'Add to Queue', queue_items_path(video_id: @video.id), method: 'post', class: 'btn btn-default' unless current_user.video_in_queue?(@video)

%section.reviews.container
  .row
    .col-sm-10.col-sm-offset-1
      - unless already_reviewed?(@video, current_user)
        = bootstrap_form_for([@video, Review.new]) do |f|
          %fieldset
            .form-group
              = f.label "Rate this video:"
              .row
                .col-sm-3
                  = f.select :rating, options_for_select([5,4,3,2,1]), hide_label: true
            .form-group
              = f.label "Write a review:"
              .row
                .col-sm-8
                  = f.text_area :body, rows: 6, class: 'span6', hide_label: true
          %fieldset.form-group.actions.clearfix
            = f.submit 'Submit Review', class: 'btn btn-success'
      %header
        %h3= "User Reviews: (#{@reviews.count}) "
      %ul
        %article.review
          - @reviews.each do |review|
            %li.row
              .col-sm-3
                %span Rating: #{review.rating} / 5
                %p
                  by
                  = link_to_unless review.creator == current_user, review_author(review), review.creator
              .col-sm-8.col-sm-offset-1
                %p= review.body
