%section#top-header.row
  %h1.col-md-2
    = link_to "MyFLiX", '/', id: 'logo'
  - if logged_in?
    %ul.col-md-4.clearfix
      %li= link_to "Videos", videos_path
      %li= link_to "My Queue", my_queue_path
      %li= link_to "People", people_path
    = bootstrap_form_tag url: search_videos_path, method: 'get', class:'col-md-5 navbar-form' do
      .form-group
        = text_field_tag :search, params[:search], class: 'form-control', hide_label: true, placeholder: "Search for a video!"
        = submit_tag 'Submit Search', class: 'btn btn-default'
    #user_links.pull-right.name_dropdown
      %ul
        %li.dropdown
          %a(href="#" id="dlabel" role="button" data-toggle="dropdown" class="dropdown-toggle" data-target="#")
            = "Welcome #{current_user.full_name.titleize}" if logged_in?
            %b.caret
          %ul.dropdown-menu(role="menu" aria-labelledby="dlabel")
            %li
              = link_to 'Account', current_user
              %a(href="#") Plan and Billing
              %a(href="/logout") Sign Out
  - else
    .pull-right
      = link_to 'Login', login_path, class: 'btn btn-success', id: 'login_button'
